/* Default link style */
.nav-tabs {
  background-color:#bfbbbb;
}
.nav-link {
  color: #555;
  background-color: #20d89e;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

/* Hover effect (optional) */
.nav-link:hover {
  background-color: #c4ecdf;
}

/* Active tab style */
.nav-link.active {
  color: #fff;                /* text color when active */
  background-color: #007bff;  /* blue background (Bootstrap primary color) */
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logout {
  margin-left: auto; /* pushes logout button to the right */
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-btn:hover {
  background-color: #c82333;
}