/* app.component.css */
.side-panel {
  position: fixed;
  top: 0;
  right: -35%;
  width: 25%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 40px; /* leave space for close button */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-button {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.form-button button {
  padding: 10px 20px;
}

.form-group.full-width {
  grid-column: 1 / -1; /* span both columns */
}

.side-panel.open {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.header-container {
  position: relative;
}

.title {
  margin-top: 40px; /* jarak dari tombol X */
  text-align: center;
}


